.content-container{
    position: relative;
    padding: 36px;
    width: 100%;
    min-height: calc(100vh - 68px);
    
    .content-block {
        position: relative;
        width: 100%;
        border-radius: 20px;
        background-color: #F9F9F9;
        box-shadow: 0px 3px 6px #00000029;
        padding: 30px 40px;
        
        &:not(:first-of-type) {
            margin-bottom: 30px;
        }
    }   
}
