.form-group {
  position: relative;
  background-color: #FBFBFB;

  label {
    position: absolute;
    top: 50%;
    left: 15px;
    margin: 0;
    padding: 0 6px;
    color: rgb(107, 107, 107);
    font-weight: 400;
    font-size: 16px;
    transform: translate(0, -50%);
    transition: all 0.3s ease-in-out;
    background-color: inherit;
  }
  // Todo: adicionar classe pelo JS .form-control.filled + label {
  .form-control + label {
    color: #A4A4A4;
    font-size: 12px;
    top: 0;
    transition: all 0.3s ease-in-out;
    background-color: inherit;
  }
}

.bg-white {
  .form-group {
    position: relative;
    background-color: white;
  }
}

.bg-light {
  .form-group {
    position: relative;
    background-color: $light;
  }
}

.search-input {
  .form-group {
    &::after {
      content: '\e90f';
      font-family: 'icomoon';
      z-index: 100;
      color: $gray;
      font-size: 15px;
      position: absolute;
      top: 50%;
      right: 4%;
      transform: translateY(-50%);
    }
  }
  input {
    padding-right: 40px;
  }
}
