
.sticky-bar {
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    position: sticky;
    top: 0;
    z-index: 900;
    width: 100%;
    transition: width 0.85s ease-in;
    padding: 22px 36px 22px 36px;


    .hamburguer-button {
        display: inline-block;
        cursor: pointer;
    }

    .breadcrumb {
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: #A4A4A4;
        background: none;
        margin: 0 0 0 20px;
        padding: 0
    }

    .bar1, .bar2, .bar3 {
        width: 19px;
        height: 3px;
        background: #F16450 0% 0% no-repeat padding-box;
        border-radius: 5px;
        
        margin: 3px 0;
        transition: 0.4s;
    }

    a.dropdown-toggle {
        padding: 0;
    }
}