@import 'styles/variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'styles/forms';
@import 'styles/auth';
@import 'styles/sidebar';
@import 'styles/stickybar';
@import 'styles/content';
@import 'styles/components';

// Pages
@import 'styles/pages/dashboard';
@import 'styles/pages/grade';
@import 'styles/pages/lesson';
@import 'styles/pages/student';
@import 'styles/pages/project';
@import 'styles/pages/users';

body {
  background-color: #ebe4e4;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: #ebe4e4;
}

#root, #dashboard {
  width: 100%;
}

.sidebar-hidden {
  #app-content {
    width: 100%;
    margin-left: 0;
    transition: all 0.3s ease-in-out;
  }
}

#app-content {
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  margin-left: 260px;
}

h1 {
  font-size: 46px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  color: $secondary;
}
h3 {
  font-size: 20px;
  color: $primary;
}

.btn {
  min-width: 120px;
}

.btn-main {
  @include button-variant($main, $main, darken($main, 5), $main, darken($main, 5), darken($main, 6));
}

.btn-outline-main {
  @include button-outline-variant($main);
}

.hover-pointer {
  cursor: pointer;
}
