.App {
  text-align: center;
}

.form-container {
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  justify-content: center;
  width: 70vh;
  height: 50vh;
}

.form-header {
  margin: 1px;
  padding-bottom: 1rem;
  text-align: center;
}

.form-input {
  display: table;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}

.form-button {
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 13em;
}